SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
FORCE_SQLITE=False
DB_SSL_REQUIRE=True
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
